.container {
  display: flex;
  height: 100%;
  margin-top: 80px;
}
.small-gallery {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin-right: 20px;
}

.s-gallery-item {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.big-display {
  max-width: 610px;
  max-height: 510px;
  width: 100%;
  margin-right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-product {
  max-width: 292px;
  height: 600px;
}
.images {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.brand {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 5px;
}

.name {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 40px;
}
.attribute-name {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 6px;
  text-transform: uppercase;
}
.price-text {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
}
.price {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
}
.arrribute-row {
  display: flex;
}
.inputlabel {
  font-family: "Source Sans Pro";

  background: white;
  padding: 8px 15px;
  cursor: pointer;
  margin-right: 5px;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
}
input[type="radio"] {
  display: none;
}
input[type="radio"]:checked + .inputlabel {
  background-color: #1d1f22;
  color: #fff;
  cursor: default;
  outline: 2px solid #5ece7b;
}

.border {
  border: 1px solid #1d1f22;
}
.add-to-cart-button {
  background-color: #5ece7b;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-weight: 600;
  width: 100%;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 40px;
  position: relative;
}

.description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.toast {
  position: absolute;
  top: -60px;
  left: 0;
  text-align: center;
  background-color: #5ece7b;
  color: white;
  padding: 10px 20px; 
  font-weight: 600;
  width: 100%;
  border: none;
  font-size: 16px;  
}
.toast-err {
  position: absolute;
  top: -60px;
  left: 0;
  text-align: center;
  background-color: rgb(255, 0, 0);
  color: white;
  padding: 10px 20px; 
  font-weight: 600;
  width: 100%;
  border: none;
  font-size: 16px;  
}
