@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@300;400;500;700&family=Inter:wght@400;500;700&family=Raleway:wght@400;600;700&display=swap");
* {
  margin: 0; 
  box-sizing: border-box;
  font-size: 12px;
  color: #1D1F22;
}
body {
  font-family: "Raleway", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;  
}

 